html{
    font-size:62.5%;
    padding:0px;
    margin:0px;
}
body{
    padding:0px;
    margin:0px;
    font-size:1.5rem;
    color:#666;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.pull-left{
    float: left;
}
.pull-right{
    float:right;
}
.pull{
    display:inline-block;
}
.full-width{
    width:100%;
}

.topBar{
    background-color:#427dd6;
    color:white;
    font-weight:600;
    padding:1rem;
    font-size:1.8rem;
}

.tabButtons{
    width:85%;
    /*border:1px solid red;*/
    margin-top:2rem;
}

.tabContainer{
    min-height:5rem;
    margin-top:1rem;
    width:85%;
    box-shadow: inset 0 0 .6rem 0 rgba(0,0,0,.4);
    padding:2rem;
    border-radius:.6rem;
}