/*TAB BUTTONS CSS*/
.tab{
	float:left;
	margin:0 .5rem;
	border:1px solid #dedede;
	padding:.2rem .6rem;
	border-radius:.3rem;
}

.tab:hover{
	background-color:#afc8ed;
	border:1px solid blue;
	cursor:pointer;
}

.tab.active{
	border:1px solid #333;
	color:#333;
}


/*SELECTOR CSS*/
#tabSelector{
	background-color:white;
	font-size:1.5rem;
	color:#333;
	padding:.2rem .6rem;
	border-radius: .3rem;
}

/*RESPONSIVE CSS*/
@media (min-width:480px){
	#tabSelector{
		display:none;
	}
}

@media (max-width: 479px) {
	.tab{
		display:none;
	}
}